<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{hello}}</p>
{{#each accounts}}
<p>{{this.email}}</p>
<p>{{this.phoneNum}}</p>
<p>{{this.fullName}}</p>
<p>{{this.birthday}}</p>
<p>{{this.wallet}}</p>
{{/each}}
